/* menuStyles style sheet */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

video {
    display: block;
    margin: 0 auto;
}

p.more {
    clear: left;
}

body {
    margin: 0 10%;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

h1 {
    text-align: left;
    font-family: serif;
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 1px solid #FCD12A;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.5);
    padding: 1em;
}

header {
    background: url(HeaderBackground01.jpg) center top repeat-x;
    background: url(HeaderBackground01.jpg) left top repeat-y, url(HeaderBackground01.jpg) right top repeat-y, url(HeaderBackground02.jpg) 90% bottom no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    height: 15em;
    padding: 1em;
}

main {
    margin: 2.5%;
    padding: 1em;
    border: double 4px #EADDC4;
    border-radius: 25px;
}

aside {
    margin: 1em 2.5% 0 10%;
    padding: 1em;
    border-top-right-radius: 25px;
}

img {
    max-width: 100%;
    margin: 0 12px;
}

td, th {
    border: 1px solid #CCC;
}

table {
    border: 1px solid black;
}

h3 {
    border-top: 1px solid;
    border-left: 3px solid;
    padding-left: 1em;
    margin-top: 2.5em;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: .2em;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

#menu {
    border: 3px solid #0094ff;
    display: flex;
}

li {
    font-size: large;
    font-family: sans-serif;
}

.product-list {
    border: 3px solid #0094ff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    list-style: none;
    padding: 0;
}

.product-list li {
    border: 3px solid #0094ff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    font-size: 1.2em;
    margin: 10px 0;
}

section {
    display: flex;
    flex-direction: column;
}

.price {
    margin-top: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    flex: 1 1 50%;
    margin: 0.5em;
    font-weight: bold;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em;
}

main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    word-wrap: break-word;
}

/* Styles for screens wider than 400px */
@media screen and (min-width: 400px) {
    nav ul li {
        flex: none;
    }

    nav ul {
        justify-content: center;
    }
}

/* Styles for screens wider than 480px */
@media screen and (min-width: 480px) {
    main img {
        float: left;
        margin: 0 1em 1em 0;
    }
}

/* Styles for screens wider than 600px */
@media screen and (min-width: 600px) {
    header p {
        display: block;
        margin-top: -1.5em;
        font-family: 'Georgia', serif;
        font-style: italic;
        font-size: 1.2em;
    }

    main,
    h1,
    h2,
    h3 {
        font-family: 'Stint Ultra Expanded', 'Georgia', serif;
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
    }

    main {
        line-height: 1.8em;
        padding: 1em;
        border: double 4px #EADDC4;
        border-radius: 25px;
        margin: 2.5%;
    }
}

/* Styles for screens wider than 940px */
@media screen and (min-width: 940px) {
    #container {
        display: grid;
        grid-template-rows: auto min-height 5em;
        grid-template-columns: minmax(25em, 1fr) 16em;
        grid-template-areas: "banner banner" "main hours" "footer footer";
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    header {
        grid-area: banner;
    }

    main {
        grid-area: main;
    }

    aside {
        grid-area: hours;
        background: url('images/scallop.png') repeat-y left top;
        background-color: #F6F3ED;
        padding: 1em;
        padding-left: 45px;
    }

    footer {
        grid-area: footer;
    }

    #award {
        position: absolute;
        top: 30px;
        left: 50px;
    }
}